/* 
  poppins
  - regular
  - medium
*/

:root {
  --indigo-900: #252641;
  --indigo-500: #2f327d;
  --indigo-200: #545567;
  --indigo-100: #696984;
  --orange-500: #f48c06;
  --yellow-400: #f4b767;
  --grey-700: #464646;
  --grey-500: #6c6c6c;

  --bgc-header-hero: #FFF3E4;

  --witdh-base: 1212px;
}

html,
body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-style: normal;
  color: var(--indigo-900);
  /* font-family: "Nunito Sans", sans-serif; */
}

#container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#container > main {
  flex: 1;
}

.header {
  background: var(--bgc-header-hero);
}

.header__wrapper {
  margin-inline: auto;
  width: var(--witdh-base);
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-block: 40px;
}

.header__logo {
  height: 50px;
}

.header__navbar {
  flex: 1;
}

.header__lists {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
}

.header__anchor {
  text-decoration: none;
  color: var(--indigo-900);
}

.header__btn-group {
  display: flex;
  column-gap: 20px;
}

.header__btn {
  border-radius: 20px;
  width: 160px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.header__btn--primary {
  background: var(--orange-500);
  color: white;
}

.header__btn--secondary {
  background: white;
}
