/* 
  poppins
  - regular
  - medium
  - semibold
  - bold

  Nunito Sans
  - regular
*/

:root {
  --indigo-900: #252641;
  --indigo-500: #2f327d;
  --indigo-200: #545567;
  --indigo-100: #696984;
  --orange-500: #f48c06;
  --yellow-400: #f4b767;
  --grey-700: #464646;
  --grey-500: #6c6c6c;
  --blue-500: #5B72EE;
  --cyan-500: #29B9E7;

  --bgc-header-hero: #FFF3E4;

  --witdh-base: 1212px;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-style: normal;
  color: var(--indigo-900);
  /* font-family: "Nunito Sans", sans-serif; */
}

#container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#container > main {
  flex: 1;
}

.header {
  background: var(--bgc-header-hero);
}

.header__wrapper {
  margin-inline: auto;
  width: var(--witdh-base);
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-block: 40px;
}

.header__logo {
  height: 50px;
}

.header__navbar {
  flex: 1;
}

.header__lists {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
}

.header__anchor {
  text-decoration: none;
  color: var(--indigo-900);
}

.header__btn-group {
  display: flex;
  column-gap: 20px;
}

.header__btn {
  border-radius: 20px;
  width: 160px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.header__btn--primary {
  background: var(--orange-500);
  color: white;
}

.header__btn--secondary {
  background: white;
  color: var(--grey-500);
}

.hero {
  height: 600px;
  background: var(--bgc-header-hero);
  mask-image: url("assets/images/masking-hero.svg");
  mask-position: center 600px;
  mask-size: cover;
}

.hero__wrapper {
  display: flex;
  width: var(--witdh-base);
  margin-inline: auto;
  justify-content: space-between;
  column-gap: 40px;
}

.hero__title {
  font-weight: 700;
  font-size: 46px;
  color: var(--indigo-500);
  margin-block: 100px 26px;
}

.hero__title--highlight {
  color: var(--orange-500);
}

.hero__paragraph {
  color: var(--grey-700);
  margin-bottom: 42px;
  font-family: "Nunito Sans", sans-serif;
  width: 65%;
  font-size: 18px;
  line-height: 32px;
}

.hero__pitch-illustration {
  height: 590px;
}

.hero__btn-group {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.hero__btn--primary {
  font-weight: 600;
  font-size: 18px;
  height: 48px;
  border-radius: 24px;
  background: var(--orange-500);
  color: white;
  border: none;
  cursor: pointer;
  padding-inline: 32px;
}

.hero__btn--secondary {
  font-size: 18px;
  color: var(--indigo-900);
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 16px;
  border: none;
  background: none;
}

.hero__btn-icon {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: white;
  position: relative;
}

.hero__btn-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
}

.companies {
  width: var(--witdh-base);
  margin-inline: auto;
  margin-block: 80px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.companies__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.4px;
  margin-bottom: 16px;
}

.companies__brand-logo {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.companies__brand-logo img {
  height: 32px;
}

.about {
  width: var(--witdh-base);
  margin-inline: auto;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}

.about__title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: var(--indigo-500);
  line-height: 180%;
  margin-bottom: 16px;
}

.about__title--highlight {
  color: var(--orange-500);
}

.about__paragraph {
  line-height: 180%;
  text-align: center;
  width: 65%;
  margin-inline: auto;
  font-size: 18px;
  color: var(--indigo-100);
}

.about__cards {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.about__card {
  flex: 0 0 320px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
  padding-top: 0;
  border-radius: 20px;
  box-shadow: 0 10px 60px hsla(235, 51%, 31%, 8%);
}

.about__card-title {
  width: 80%;
  margin-inline: auto;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: var(--indigo-500);
}

.about__card-paragraph {
  text-align: center;
  font-size: 14px;
  color: var(--indigo-100);
  line-height: 180%;
  width: 90%;
  margin-inline: auto;
  text-wrap: balance;
}

.about__card-icon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  position: relative;
  top: -40px;
  box-shadow: 0 10px 40px hsl(235, 43%, 37%, 6%);
}

.about__card:nth-child(1) .about__card-icon {
  background: var(--blue-500);
}

.about__card:nth-child(2) .about__card-icon {
  background: var(--orange-500);
}

.about__card:nth-child(3) .about__card-icon {
  background: var(--cyan-500);
}

.about__card-icon img {
  margin: auto;
  transform: scale(0.7);
}

.skilline {
  width: var(--witdh-base);
  margin-bottom: 140px;
  margin-inline: auto;
}

.skilline__title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: var(--indigo-500);
  line-height: 180%;
  margin-bottom: 16px;
}

.skilline__title--highlight {
  color: var(--orange-500);
}

.skilline__paragraph {
  width: 80%;
  margin-inline: auto;
  margin-bottom: 60px;
  text-align: center;
  text-wrap: balance;
  line-height: 180%;
  font-size: 18px;
  color: var(--indigo-100);
}

.skilline__wrapper-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
}

.skilline__cards {
  display: flex;
  column-gap: 60px;
}

.skilline__card {
  width: 500px;
  height: 340px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.skilline__card::before {
  z-index: 1;
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, hsla(234, 48%, 17%, 40%), hsla(234, 48%, 17%, 60%));
  inset: 0;
}

.skilline__card div {
  z-index: 2;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

.skilline__card-title {
  font-weight: 600;
  font-size: 26px;
  color: white;
}

.skilline__card-btn {
  cursor: pointer;
  height: 48px;
  padding-inline: 20px;
  border-radius: 24px;
  border: 1px solid white;
  background: transparent;
  font-weight: 500;
  font-size: 18px;
  color: white;
  transition-property: border, background;
  will-change: border, background;
}

.skilline__card-btn:hover {
  background: hsla(194, 86%, 54%, 90%);
  border: 1px solid transparent;
}

.skilline__card-btn {
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.skilline__card-img {
  height: 100%;
}

.skilline__wrapper-2 {
  display: flex;
  align-items: center;
  position: relative;
}

.skilline__wrapper-2::before {
  content: "";
  position: absolute;
  top: 45px;
  left: -30px;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background: var(--yellow-400);
}

.skilline__wrapper-2 :is(.skilline__title, .skilline__paragraph) {
  text-align: start;
  width: 100%;
}

.skilline__wrapper-2 .skilline__title {
  position: relative;
}

.skilline__wrapper-2 .skilline__paragraph {
  width: 85%;
  margin: 0;
  margin-bottom: 24px;
}

.skilline__illustration{
  height: 400px;
}

.skilline__card-anchor {
  all: unset;
  color: var(--indigo-100);
  text-decoration: underline;
  cursor: pointer;
  line-height: 180%;
}